<!DOCTYPE html>
{% load static %}

<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    </head>

    <body style="background-color:#696969">

      <aside>
        <img src="{% static 'main/img/logo.png' %}" alt="">
        <span class="logo">QWE's god</span>
        <h3>Комнаты:</h3>

        <h4 class="loler">Создать комнату</h4>

        <input class="input" type="text" placeholder="Room name" id="room-name-enter">
        <a id="room-name-button">Create</a>

        <h4 class="loler">Существующие</h4>
        <ul>
            <a class="button-first" id="room-name-submit">
              <li class="NAV">
                Friends
              </li>
            </a>
            <a class="button-first" id="room-nic-submit">
              <li class="NAV">
                Relatives
              </li>
            </a>
        </ul>
    </aside>
{{ username|json_script:"json-username" }}
    <script>
            document.querySelector('#room-name-button').onclick = function(e) {
              var userName = JSON.parse(document.getElementById('json-username').textContent);
              var roomName = document.querySelector('#room-name-enter').value;
              window.location.replace( 'group/' + userName + '/' + roomName);
            };
            document.querySelector('#room-name-submit').onclick = function(e) {
              var userName = JSON.parse(document.getElementById('json-username').textContent);
              var roomName = 'Friends';
              window.location.replace( 'group/' + userName + '/' + roomName);
            };
            document.querySelector('#room-nic-submit').onclick = function(e) {
              var userName = JSON.parse(document.getElementById('json-username').textContent);
              var roomName = 'Relatives';
              window.location.replace( 'group/' + userName + '/' + roomName);
            }
      </script>

    </body>
</html>
